* {
    box-sizing: border-box;
    font-size: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

ul:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

@font-face {
    font-family: "hyg3gj";
    src: url("../font/hyg3gj/hyg3gj.eot"); /* IE9 */
    src: url("../font/hyg3gj/hyg3gj.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../font/hyg3gj/hyg3gj.woff") format("woff"), /* chrome、firefox */ url("../font/hyg3gj/hyg3gj.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */ url("../font/hyg3gj/hyg3gj.svg#hyg3gj") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.header {
    width: 100%;
    height: 1rem;
    background: #ffffff;
    padding: .2rem;
    position: fixed;
    top: 0;
    z-index: 98;
}

.header .logo {
    float: left;
    width: 2.03rem;
    height: .63rem;
    background: url("../images/base/logo.png") center center /cover no-repeat;
}

.header .tel {
    float: left;
    margin-left: 1.2rem;
    padding-top: .1rem;
}

.header .tel span {
    font-size: .2rem;
    display: block;
    color: #1899d1;
    font-family: hyg3gj, sans-serif;
}

.header .tel > div {
    font-size: .26rem;
    vertical-align: middle;
    padding-top: .06rem;
}

.header .tel a {
    font-size: .2rem;
    color: #1899d1;
    font-weight: bold;
}

.header .tel img {
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
}

.header .menu {
    width: .52rem;
    height: .38rem;
    float: right;
    padding-top: .11rem;
    /*background: url("../images/base/menu.png") center center/cover no-repeat;*/
}

.nav {
    /*width: 4.59rem;*/
    width: 0;
    height: 100%;
    background-color: #e5e5e5;
    box-shadow: 0 2px 9px 0 rgba(6, 0, 1, 0.2);
    position: fixed;
    /*right: -4.6rem;*/
    right: 0;
    top: 1rem;
    z-index: 99;
    overflow: auto;
    transition: width .3s;
}

.nav.on {
    width: 4.59rem;
    /*right: 0;*/
    transition: width .3s;
}

.nav > ul > li {
    border-bottom: 1px solid #ffffff;
    padding: 0 .5rem;
    position: relative;
    transition: all .3s;
}

.nav > ul > li.on {
    background: rgba(25, 116, 165, .95);
    transition: all .3s;
}

.nav > ul > li.on:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: .85rem;
}

.nav > ul > li.on > a {
    font-weight: bold;
    color: #ffffff;
}

.nav > ul > li > a {
    font-size: .28rem;
    color: #333333;
    line-height: .85rem;
    display: block;
}

.nav .submenu {
    display: none;
    /*background: rgba(25,116,165,.95);*/
}

.nav .submenu li {

}

.nav .submenu li.on a {
    color: #ffffff;
    line-height: .64rem;
}

.nav .submenu li a {
    font-size: .24rem;
    color: #c2c2c2;
    line-height: .64rem;
}

.banner {
    padding-top: 1rem;
}

.footer {
    padding: 0 .2rem;
    background: #2d2d2d;
}

.footer .logo {
    text-align: center;
}

.footer .logo img {
    width: 1.68rem;
    height: .4rem;
    margin: auto;
    margin-top: .2rem;
    /*background: url("../images/base/logo_foot.png") center center /cover no-repeat;*/
}

.footer .logo span {
    display: block;
    margin-top: .05rem;
    font-size: .2rem;
    line-height: .2rem;
    color: #009b4c;
    font-family: hyg3gj, sans-serif;
}

.footer .footer-nav {
    text-align: center;
    margin-top: .2rem;
}

.footer .footer-master {
    padding-bottom: .22rem;
    border-bottom: 1px solid #3b3b3b;
}

.footer .footer-minor {
    padding-top: .22rem;
    padding-bottom: .3rem;
    border-top: 1px solid #262626;
}

.footer .footer-nav ul {
    display: inline-block;
}

.footer .footer-nav ul li {
    float: left;
    padding: 0 .16rem;
    border-right: .03rem solid #ffffff;
}

.footer .footer-nav ul li:last-child {
    border-right: none;
}

.footer .footer-nav a {
    font-size: .2rem;
    line-height: .2rem;
    color: #ffffff;
}

.footer .footer-minor:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.footer .wechat {
    width: 3.64rem;
    float: left;
    border-right: 1px solid #3b3b3b;;
}

.footer .wechat ul li {
    text-align: center;
    float: left;
    margin-right: .3rem;
}

.footer .wechat ul li img {
    width: .98rem;
    height: .98rem;
}

.footer .wechat ul li p {
    font-size: .18rem;
    color: #999999;
    padding-top: .07rem;
}

.footer .tel {
    width: 3.2rem;
    height: 1.25rem;
    padding-left: .47rem;
    float: left;
    border-left: 1px solid #262626;
}

.footer .tel a {
    font-size: .36rem;
    line-height: .36rem;
    color: #ffffff;
    display: block;
    padding: .1rem 0 .13rem 0;
}

.footer .tel span {
    display: block;
    font-size: .2rem;
    line-height: .24rem;
    color: #ffffff;
}
