.banner > div {
    width: 100%;
    height: 3.2rem;
}

.fenye {
    text-align: center;
    margin: .3rem 0;
}

.fenye > div {
    display: inline-block;
}

.fenye a {
    display: inline-block;
    font-size: .36rem;
    color: #666666;
    width: .6rem;
    text-align: center;
    float: left;
    line-height: .64rem;
}

.fenye .num.on {
    color: #0081b9;
}

.fenye .next,
.fenye .prev {
    width: .64rem;
    height: .64rem;
}

.fenye .prev {
    background: url("../images/base/left_n.png") center center /cover no-repeat;
}

.fenye .prev:hover {
    background: url("../images/base/left_h.png") center center /cover no-repeat;
}

.fenye .next {
    background: url("../images/base/right_n.png") center center /cover no-repeat;
}

.fenye .next:hover {
    background: url("../images/base/right_h.png") center center /cover no-repeat;
}

.breadCrumb {
    width: 100%;
    padding: .1rem .2rem;
    background: rgba(238, 238, 238, .8);
}

.breadCrumb .active-txt {
    font-size: .2rem;
    color: #999999;
    line-height: .36rem;
}

.breadCrumb .crumb a {
    font-size: .2rem;
    color: #666666;
    line-height: .36rem;
}

.breadCrumb .crumb a:last-child {
    color: #0081b9;
}

.fanye-s {
    margin: .2rem 0;
}

.fanye-s a {
    display: block;
    vertical-align: middle;
    font-size: .24rem;
    padding: .1rem .2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fanye-s a:hover span {
    color: #0081b9;
}

.fanye-s a:first-child:hover i {
    background: url("../images/base/left_h.png") center center/cover no-repeat;
}

.fanye-s a:last-child:hover i {
    background: url("../images/base/right_h.png") center center/cover no-repeat;
}

.fanye-s i {
    display: inline-block;
    width: .53rem;
    height: .53rem;
    border-radius: 50%;
    vertical-align: middle;
}

.fanye-s a:first-child i {
    background: url("../images/base/left_n.png") center center/cover no-repeat;
}

.fanye-s a:last-child i {
    background: url("../images/base/right_n.png") center center/cover no-repeat;
}

.fanye-s span {
    font-size: .24rem;
    color: #333333;
    padding-left: .34rem;
}

.column-nav {
    text-align: center;
    padding: .3rem 0;
}

.column-nav ul {
    display: inline-block;
}

.column-nav ul li {
    float: left;
    /*position: relative;*/
}

.column-nav ul li.on a:after {
    content: '';
    display: block;
    width: 0;
    /*height: .1rem;*/
    border-left: transparent .1rem solid;
    border-right: transparent .1rem solid;
    border-top: transparent .1rem solid;
    border-bottom: #0081b9 .1rem solid;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.column-nav ul li.on a {
    color: #0081b9;
    border-bottom: .02rem solid #0081b9;
}

.column-nav ul li:last-child:after {
    content: '';
    display: none;
}

.column-nav ul li:after {
    content: '/';
    display: inline-block;
    position: relative;
    padding: 0 .2rem;
    font-size: .34rem;
    line-height: .94rem;
    color: #d5d5d5;
}

.column-nav ul li a {
    display: inline-block;
    font-size: .34rem;
    line-height: .94rem;
    color: #666666;
    position: relative;
}

.content .container {
    padding: 0 .2rem;
    background: url("../images/base/juzhou_02.jpg") no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    overflow: hidden;
}

/**/
.content.qyjs .context {
    overflow: hidden;
    padding-bottom: .6rem;
}

.content.qyjs .context p {
    font-size: .24rem;
    color: #666666;
    line-height: .44rem;
    text-indent: .48rem;
}

.content.qyjs .context ul {
    width: 7.56rem;
    margin: .2rem 0;
}

.content.qyjs .context ul li {
    width: 2.07rem;
    height: 2.07rem;
    border-radius: 50%;
    /*border: .02rem solid #dcdcdc;*/
    overflow: hidden;
    float: left;
    margin-right: .45rem;
}

.content.qyjs-swiper {
    background: #f5f5f5;
    padding: .2rem 0 1rem 0;
    position: relative;
    width: 7.5rem;
    left: -.2rem;
}

.content.qyjs-swiper .swiper-container {
    width: 100%;
    padding: 0 .2rem;
    height: 2.37rem;
    margin: .6rem 0;
}

.content.qyjs-swiper .swiper-button-next,
.content.qyjs-swiper .swiper-button-prev {
    width: .4rem;
    height: .4rem;
    bottom: .6rem;
    top: auto;
    margin-top: 0;
    outline: none;
}

.content.qyjs-swiper .swiper-button-next {
    right: 3.25rem;
    background: url("../images/others/r0.jpg") center center /cover no-repeat;
}

.content.qyjs-swiper .swiper-button-next:hover {
    background: url("../images/others/r1.jpg") center center /cover no-repeat;
}

.content.qyjs-swiper .swiper-button-prev {
    left: 3.25rem;
    background: url("../images/others/l0.jpg") center center /cover no-repeat;
}

.content.qyjs-swiper .swiper-button-prev:hover {
    background: url("../images/others/l1.jpg") center center /cover no-repeat;
}

.content.hezuo {
    padding-top: .6rem;
}

.content.hezuo .hezuo-wrapper {
    overflow: hidden;
    padding-bottom: .56rem;
}

.content.hezuo ul {
    width: 7.36rem;
}

.content.hezuo ul li {
    width: 1.60rem;
    height: .79rem;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    float: left;
    margin-right: .24rem;
    margin-bottom: .24rem;
}

.content .title {
    text-align: center;
    font-size: .44rem;
    line-height: .44rem;
    color: #222222;
    padding: .4rem 0;
}

.content.sztd .teacher-list ul li {
    padding: .3rem 0;
    border-bottom: dashed #dcdcdc 1px;
}

.content.sztd .teacher-list ul li:last-child {
    border-bottom: 0;
}

.content.sztd .teacher-list ul li:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.content.sztd .teacher-list .pic {
    width: 1.90rem;
    height: 2.54rem;
    float: left;
}

.content.sztd .teacher-list .con {
    width: 5.2rem;
    height: 2.54rem;
    float: left;
    padding-left: .3rem;
}

.content.sztd .teacher-list .con .name {
    line-height: .3rem;
    padding: .1rem 0;
}

.content.sztd .teacher-list .con .name span {
    font-size: .3rem;
    color: #333333;
}

.content.sztd .teacher-list .con .name i {
    font-size: .2rem;
    color: #999999;
    padding-left: .2rem;
}

.content.sztd .teacher-list .con .desc p {
    font-size: .24rem;
    color: #666666;
    line-height: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.content.sztd .container {
    padding-bottom: .5rem;
}

.content.jysx .container {
    padding-bottom: .5rem;
}

.content.jysx .sx-list {
    overflow: hidden;
}

.content.jysx .sx-list ul {
    width: 7.29rem;
}

.content.jysx .sx-list ul li {
    width: 2.25rem;
    float: left;
    margin-right: .18rem;
    margin-bottom: .36rem;
}

.content.jysx .sx-list ul li img {
    width: 100%;
    height: 2.99rem;
}

.content.jysx .sx-list ul li p {
    width: 100%;
    height: .5rem;
    background: #eeeeee;
    font-size: .18rem;
    color: #333333;
    line-height: .5rem;
    padding: 0 .2rem;
}

.content .tips {
    padding: .12rem .18rem;
    border: 1px dashed #bfbfbf;
    position: relative;
    margin-bottom: .5rem;
    background: #ffffff;
}

.content .tips:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-left: 1px dashed #bfbfbf;
    border-bottom: 1px dashed #bfbfbf;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -.12rem;
    left: 0;
    right: 0;
    margin: auto;
}

.content .tips p {
    font-size: .24rem;
    color: #222222;
    text-align: center;
}

.content.mwhb .container {
    padding-bottom: .3rem;
}

.content.mwhb ul {
    width: 7.4rem;
}

.content.mwhb ul li {
    width: 3.4rem;
    float: left;
    margin-bottom: .25rem;
    margin-right: .3rem;
}

.content.mwhb ul li img {
    width: 3.4rem;
    height: 2.7rem;
}

.content.mwhb ul li p {
    font-size: .24rem;
    line-height: .54rem;
    text-align: center;
}

.content.cysg .container {
    padding-bottom: .2rem;
}

.content.cysg ul li {
    margin-bottom: .4rem;
}

.content.cysg ul li .swiper-container {
    width: 100%;
    height: 3.2rem;
}

.content.cysg ul li .swiper-container .swiper-pagination {
    width: auto;
    right: .2rem;
    left: auto;
}

.content.cysg ul li .swiper-container .swiper-pagination-bullet-active {
    background: #0081b9;
}

.content.cysg ul li .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .03rem;
    background: rgba(255, 255, 255, .8);
    opacity: 1;
}

.content.cysg ul li .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #0081b9;
}

.content.cysg ul li .con {
    padding: .2rem .15rem;
    background: #eeeeee;
}

.content.cysg ul li .con span {
    display: block;
    font-size: .3rem;
    color: #222222;
}

.content.cysg ul li .con p {
    font-size: .2rem;
    color: #666666;
    line-height: .34rem;
}

.content.spzq .title {
    font-size: .3rem;
    color: #666666;
}

.content.spzq .video-none .none-img {
    width: 2.52rem;
    height: 1.97rem;
    margin: auto;
    background: url("../images/base/video-none.png") center center /cover no-repeat;
}

.content.spzq .video-none .desc {
    text-align: center;
    padding-top: .4rem;
    padding-bottom: 1.3rem;
}

.content.spzq .video-none .desc span {
    font-size: .3rem;
    color: #666666;
    display: block;
}

.content.spzq .video-none .desc i {
    font-size: .2rem;
    color: #999999;
}

.content.spzq .video-list ul li {
    padding: .4rem 0;
    border-bottom: 1px dashed #eeeeee;
}

.content.spzq .video-list ul li a {
    display: block;
    padding: .05rem;
    box-shadow: 0 1px 18px 0 rgba(176, 176, 176, 0.3);
}

.content.spzq .video-list ul li a:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.content.spzq .video-list .pic {
    width: 3.3rem;
    height: 2.6rem;
    float: left;
}

.content.spzq .video-list .con {
    float: left;
    width: 3.7rem;
    height: 2.6rem;
    padding: 0 .13rem;
}

.content.spzq .video-list h6 {
    font-size: .24rem;
    line-height: .5rem;
    color: #222222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    /*padding-bottom: .19rem;*/
}

.content.spzq .container {
    padding-bottom: .2rem;
}

.content.spzq .video-list p {
    font-size: .2rem;
    color: #666666;
    line-height: .3rem;
}

.content.spzq .video-list .top {
    height: 50%;
    border-bottom: 1px solid #eeeeee;
}

.content.spzq .video-list .bottom {
    height: 50%;
    display: flex;
    align-items: center;

}

.content.spzq .video-list .bottom .issue {
    width: .72rem;
    height: .72rem;
    margin-right: .1rem;
    border-radius: 50%;
    overflow: hidden;
}

.content.spzq .video-list .bottom span {
    display: block;
    font-size: .2rem;
    line-height: .3rem;
    color: #222222;
}

.content.spzq .video-list .bottom b {
    font-size: .2rem;
    color: #0081b9;
    font-weight: normal;
}

.content.join .simple {
    padding: .12rem .2rem;
    background: #efefef;
    text-align: center;
}

.content.join .container {
    padding-bottom: .3rem;
}

.content.join .simple p {
    font-size: .24rem;
    color: #333333;
    line-height: .42rem;
}

.content.join .simple .con {
    font-size: .24rem;
    color: #666666;
    line-height: .42rem;
    text-align: left;
}

.content.join .simple .con b {
    font-weight: bold;
    color: #222222;
    font-size: .24rem;
}

.content.join .title-s {
    display: inline-block;
    margin: auto;
    font-size: .3rem;
    line-height: .3rem;
    padding: .2rem .1rem;
    font-weight: bold;
    color: #333333;
    border-bottom: .04rem solid #333333;
}

.content.join .huzhu {
    width: 100%;
    height: 2.7rem;
    margin: .4rem 0;
}

.content.join .swiper-container {
    width: 100%;
    height: 100%;
}

.content.join .tips:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-left: 1px dashed #bfbfbf;
    border-bottom: 1px dashed #bfbfbf;
    transform: rotate(135deg);
    position: absolute;
    top: -.12rem;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
}

.content.join .swiper-slide {
    height: 2.7rem;
}

.content.join .lx-nav ul {
    width: 7.38rem;
}

.content.join .lx-nav ul li {
    background: #f5f5f5;
    border-radius: .16rem;
    display: inline-block;
    margin-right: .28rem;
    margin-bottom: .28rem;
}

.content.join .lx-nav ul li i {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background: #0081b9;
    border-radius: .16rem;
    float: left;
    text-align: center;
    padding: .2rem;
}

.content.join .lx-nav ul li i img {
    width: auto;
    height: .37rem;
}

.content.join .lx-nav ul li span {
    display: inline-block;
    font-size: .22rem;
    color: #333333;
    line-height: .8rem;
    float: left;
    padding: 0 .2rem;
}

.content.join .lx-nav ul li span a {
    display: block;
    font-size: .22rem;
    color: #333333;
    line-height: .8rem;
}

.content.join .swiper-slide img {
    width: 100%;
    height: 100%;
}

.content.join .map {
    margin-bottom: .4rem;
    margin-top: .15rem;
}

.content.join #map {
    width: 100%;
    height: 2.6rem;
}

.BMapLabel {
    background: #3f8af8 !important;
    border: none !important;
    line-height: .34rem !important;
    font-size: .18rem !important;
    color: #ffffff !important;
    padding: 0 .05rem !important;
    border-radius: .05rem !important;
}

.anchorBL {
    display: none;
}

.content.shequ .title {
    font-size: .36rem;
}

.content.shequ .diamond {
    width: 100%;
    height: 4.4rem;
    position: relative;
    margin-top: .24rem;
}

.content.shequ .diamond .item {
    width: 1.23rem;
    height: 1.23rem;
    transform: rotate(45deg);
    /*float: left;*/
    position: absolute;
    overflow: hidden;
}

.content.shequ .diamond .item p {
    font-size: .24rem;
    color: #333333;
    line-height: 1.23rem;
    text-align: center;
    transform: rotate(-45deg);
}

.content.shequ .diamond .item.eee {
    background: #eeeeee;
}

.content.shequ .diamond .item.blue {
    background: #0081b9;
}

.content.shequ .diamond .item.blue p {
    color: #ffffff;
}

.content.shequ .diamond .item.blue {
    background: #0081b9;
}

.content.shequ .diamond .item.gray {
    background: #eeeeee;
}

.content.shequ .diamond .item.pic {
    top: .87rem;
}

.content.shequ .diamond .item.pic img {
    transform: scale(1.6) rotate(-45deg);
}

.content.shequ .menuTab {
    font-size: .24rem;
    color: #333333;
    display: block;
    float: left;
    line-height: .7rem;
    padding: 0 .3rem;
    background: #eeeeee;
    margin-right: .05rem;
}

.content.shequ .menuTab.active {
    background: #0081b9;
    color: #fdfdfd;
}

.content.shequ .content-tabs {
    height: .7rem;
    /*line-height: .7rem;*/
    position: relative;
    overflow: hidden;
}

.content.join .swiper-container .swiper-button-next,
.content.join .swiper-container .swiper-button-prev,
.content.shequ .swiper-container .swiper-button-next,
.content.shequ .swiper-container .swiper-button-prev {
    width: .62rem;
    height: .62rem;
    outline: none;
}

.content.join .swiper-container .swiper-button-prev,
.content.shequ .swiper-container .swiper-button-prev {
    background: url("../images/base/swiper_l.png") center center /cover no-repeat;
    left: 0;
}

.content.join .swiper-container .swiper-button-next,
.content.shequ .swiper-container .swiper-button-next {
    background: url("../images/base/swiper_r.png") center center /cover no-repeat;
    right: 0;
}

.content.shequ .content-tabs .page-tabs-content:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.content-tabs .roll-nav, .page-tabs-list {
    position: absolute;
    width: .7rem;
    height: .7rem;
    text-align: center;
    color: #999;
    z-index: 2;
    top: 0;
    border: none;

}

.content-tabs .roll-left {
    left: 0;
    border-right: solid 1px #eee
}

.content-tabs .roll-right {
    right: 0;
    border-left: solid 1px #eee
}

nav.page-tabs {
    margin-right: .75rem;
    margin-left: .75rem;
    width: 100rem;
    /*height: 40px;*/
    /*overflow: hidden*/
}

nav.page-tabs:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

nav.page-tabs .page-tabs-content {
    float: left
}

.content.shequ .kc-tab .kc-tab-wrapper {
    width: 100rem;
    overflow: auto;
}

.content.shequ .kc-tab .kc-tab-wrapper:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.content.shequ .kc-tab .kc-tab-wrapper a {
    display: block;
    font-size: .24rem;
    color: #333333;
    line-height: .7rem;
    padding: 0 .3rem;
    background: #eeeeee;
    float: left;
}

.content.shequ .kc-tab {
    overflow: hidden;
}

.content.shequ .theme b {
    font-size: .24rem;
    color: #333333;
    line-height: .42rem;
}

.content.shequ .theme i {
    font-size: .18rem;
    color: #f08519;
}

.content.shequ .theme p {
    font-size: .2rem;
    color: #888888;
    line-height: .36rem;
}

.content.shequ .active-swiper {
    padding: .6rem .2rem;
    margin: .6rem 0;
    background: #f6f6f6;
    position: relative;
    width: 7.5rem;
    left: -.2rem;
}

.content.shequ .active-swiper .swiper-container {
    width: 100%;
    height: 2.7rem;
}

.content.shequ .active-swiper .swiper-slide {
    position: relative;

}

.content.shequ .active-swiper .swiper-slide span {
    display: block;
    position: absolute;
    width: 100%;
    height: .7rem;
    background: rgba(0, 0, 0, .5);
    font-size: .18rem;
    color: #ffffff;
    text-align: center;
    line-height: .7rem;
    bottom: 0;
}

.content.shequ .container {
    padding-bottom: .5rem;
}

.content.shequ .kc-nav {
    position: relative;
}

.content.shequ .kc-nav .swiper-container {
    width: 5.6rem;
    margin: auto;
}

.content.shequ .kc-nav .swiper-button-prev,
.content.shequ .kc-nav .swiper-button-next {
    width: .7rem;
    height: .7rem;
    margin: 0;
    top: 0;
    opacity: 1;
    outline: none;
}

.content.shequ .kc-nav .swiper-button-prev {
    background: url("../images/base/l0.jpg") center center /cover no-repeat;
    left: 0;
}

.content.shequ .kc-nav .swiper-button-prev:hover {
    background: url("../images/base/l1.jpg") center center /cover no-repeat;
}

.content.shequ .kc-nav .swiper-button-next {
    background: url("../images/base/r0.jpg") center center /cover no-repeat;
    right: 0;
}

.content.shequ .kc-nav .swiper-button-next:hover {
    background: url("../images/base/r1.jpg") center center /cover no-repeat;
}

.content.shequ .kc-nav .swiper-slide {
    font-size: .24rem;
    color: #333333;
    line-height: .7rem;
    width: auto;
    padding: 0 .14rem;
    background: #eeeeee;
}

.content.shequ .kc-nav .swiper-slide.swiper-slide-thumb-active {
    background: #0081b9;
    color: #ffffff;
}


.content.shequ .kc-box {
    margin: .3rem 0;
}

.content.shequ .kc-box .swiper-slide {

}

.content.shequ .kc-box .swiper-slide .m-title {
    font-size: .24rem;
    color: #0081b9;
    line-height: .5rem;
    background: #e5e5e5;
    text-align: center;
}

.content.shequ .kc-box .swiper-slide .m-desc {
    background: #f6f6f6;
    font-size: .2rem;
    color: #0081b9;
    line-height: .36rem;
    padding: .1rem .15rem;
}

.content.shequ .kc-box .swiper-slide table {
    width: 100%;
    /*border-color: #f4f4f4;*/
    text-align: center;
    border: 1px solid #F4F4F4;
}

.content.shequ .kc-box .swiper-slide table thead {
    height: .5rem;
    background: #0081b9;
}

.content.shequ .kc-box .swiper-slide table thead th {
    font-size: .3rem;
    color: #ffffff;
}

.content.shequ .kc-box .swiper-slide table tbody {
    background: #ffffff;
}

.content.shequ .kc-box .swiper-slide table tbody td {
    line-height: .42rem;
    color: #333333;
    font-size: .24rem;
}

.content.shequ .kc-box .swiper-slide table tbody td i {
    font-size: .18rem;
    color: #999999;
    display: block;
}

.content.shequ .kc-box .swiper-slide table tfoot {
    background: #ffffff;
}

.content.shequ .kc-box .swiper-slide table tfoot th {
    line-height: .42rem;
    color: #666666;
    font-size: .24rem;
    font-weight: normal;
}

.content.news .container {
    padding-bottom: .2rem;
}

.content.news .news-list ul li {
    padding: .4rem 0;
    border-bottom: dashed #eeeeee 1px;
}

.content.news .news-list ul li a {
    display: block;
}

.content.news .news-list ul li a:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.content.news .news-list ul li .pic {
    width: 2.6rem;
    height: 1.9rem;
    float: left;
}

.content.news .news-list ul li .con {
    width: 4.5rem;
    height: 1.9rem;
    position: relative;
    float: left;
    padding-left: .2rem;
}

.content.news .news-list ul li h6 {
    font-size: .3rem;
    line-height: .5rem;
    color: #222222;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content.news .news-list ul li p {
    font-size: .24rem;
    color: #666666;
    line-height: .42rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content.news .news-list ul li span {
    font-size: .2rem;
    color: #666666;
    position: absolute;
    bottom: .1rem;
    left: .2rem;
}

.content.news .news-list ul li .time {
    width: 1.22rem;
    height: 1.22rem;
    background: #f5f5f5;
    float: left;
    text-align: center;
}

.content.news .news-list ul li .con2 {
    width: 5.88rem;
    height: 1.22rem;
}

.content.news .news-list ul li .time span {
    display: block;
    position: static;
    font-size: .22rem;
    line-height: .22rem;
    color: #999999;
}

.content.news .news-list ul li .time span:first-child {
    font-size: .4rem;
    line-height: .4rem;
    color: #333333;
    padding: .25rem 0 .12rem 0;
}

.content.news .news-list ul li a:hover .time {
    background: #0081b9;
}

.content.news .news-list ul li a:hover .time span {
    color: #ffffff;
}

.content.news .news-list ul li a:hover h6 {
    color: #0081b9;
}

.content.news-detail .title {
    font-size: .34rem;
    color: #222222;
    font-weight: bold;
    padding: .6rem 0 0 0;
    margin-bottom: .3rem;
}

.content.news-detail .time {
    font-size: .18rem;
    color: #666666;
    text-align: center;
}

.content.news-detail .con {
    padding: .4rem 0;
    border-bottom: dashed 1px #dcdcdc;
}

.content.news-detail .con img {
    padding: .4rem 0;
}

.content.news-detail .con p {
    font-size: .24rem;
    color: #666666;
    line-height: .42rem;
    text-indent: .48rem;
}

.content.news-detail .container {
    padding-bottom: .2rem;
}
